.projects-btn{
    max-width: fit-content;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(195, 10, 84,0);
    margin-bottom: 40px;
    margin: 10px;
    color: white;
    border: 2px solid #ffffff;
}
.projects-btn:hover{
    transition: 0.1s;
    background-color: rgba(195, 10, 84,1);
    border: 2px solid rgb(195, 10, 84);
}
.projects-btn-active{
    background-color: rgba(195, 10, 84,1);
    border: 2px solid rgb(195, 10, 84);
}
@media (max-width: 430px) {
    .projects-btn{
        max-width: fit-content;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        font-size: 12px;
        background-color: rgba(195, 10, 84,0);
        margin-bottom: 40px;
        margin: 8px;
        color: white;
        border: 2px solid #ffffff;
    }
    .projects-btn-active{
        background-color: rgba(195, 10, 84,1);
        border: 2px solid rgb(195, 10, 84);
    }
}